<% content_for :title, "Dashboard - #{ENV["APP_TITLE"]}" %>
<% unless flash[:notice].nil? then %>
<div data-alert class="alert-box warning radius">
    <%= flash[:notice].html_safe %>
    <a href="#" class="close">&times;</a>
</div>
<% end %>
<div class="small-12 medium-12 large-12 columns">
    <h3 class="subheader" id="dashboard_header">Dashboard</h3>
    <div class="row">
        <div class="small-12 medium-4 large-4 columns">
            <div class="row">
                <div class="small-12 medium-8 large-8 columns">
                    <h5><%= pluralize(@integrations.size, 'Integration') %></h5>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <%= link_to ''.html_safe, new_integration_path, :id => 'create_integration_button', :class => 'icon-create small button radius right info' %>
                </div>
            </div>
            <% @integrations.each do |integration| %>
            <div id="input_details_<%= integration.id %>" class="row input-info <%= (integration.status == 100) ? 'info-enabled' : 'info-disabled'  %>">
                <div class="small-12 medium-6 large-6 columns">
                    <h6 class="subheader"><%= link_to integration.title, integration, :class => '' %></h6>
                </div>
                <div class="small-6 columns">
                    <ul class="button-group radius right">
                        <li><%= link_to '', edit_integration_path(integration), :class => 'small button secondary icon-edit' %></li>
                        <li><%= link_to '', {:controller => 'integrations', :action => 'execute', :id => integration.id}, :class => 'small button primary icon-execute',:title => "Execute #{integration.title}" %></li>
                    </ul>
                </div>
            </div>
            <% end %>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <div class="row">
                <div class="small-12 medium-8 large-8 columns">
                    <h5><%= pluralize(@inputs.size, 'Input') %></h5>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <%= link_to ''.html_safe, new_input_path, :id => 'create_input_button', :class => 'icon-create small button radius right info' %>
                </div>
            </div>
            <% @inputs.each do |input| %>
            <div id="input_details_<%= input.id %>" class="row input-info <%= (input.status == 100) ? 'info-enabled' : 'info-disabled'  %>">
                <div class="small-12 medium-6 large-6 columns">
                    <h6 class="subheader"><%= link_to input.title, input_path(input), :class => '' %></h6>
                </div>
                <div class="small-6 columns">
                    <ul class="button-group radius right">
                        <li><%= link_to '', edit_input_path(input), :class => 'small button secondary icon-edit' %></li>
                        <li><%= link_to '', {:controller => 'agents', :action => 'execute', :id => input.id}, :class => 'small button primary icon-execute',:title => "Execute #{input.title}" %></li>
                    </ul>
                </div>
            </div>
            <% end %>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <div class="row">
                <div class="small-12 medium-8 large-8 columns">
                    <h5><%= pluralize(@outputs.size, 'output') %></h5>
                </div>
                <div class="small-12 medium-4 large-4 columns">
                    <%= link_to ''.html_safe, new_output_path, :id => 'create_output_button', :class => 'icon-create small button radius right info' %>
                </div>
            </div>
            <% @outputs.each do |output| %>
            <div id="input_details_<%= output.id %>" class="row input-info <%= (output.status == 100) ? 'info-enabled' : 'info-disabled'  %>">
                <div class="small-12 medium-6 large-6 columns">
                    <h6 class="subheader"><%= link_to output.title, output_path(output), :class => '' %></h6>
                </div>
                <div class="small-6 columns">
                    <ul class="button-group radius right">
                        <li><%= link_to '', edit_output_path(output), :class => 'small button secondary icon-edit' %></li>
                    </ul>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="small-12 columns">
            <h5 id="stream_header">Stream <small>Your latest events</small></h5>
            <%= render :partial => "events/events_dashboard", locals: {:events => @events} %>
        </div>
        <div class="small-12 columns right">
            <br />
            <%= link_to 'More', events_path, :class => 'small button info radius right icon-next' %>
        </div>
    </div>
</div>
<!-- initial tour -->
<ol class="joyride-list" data-joyride>
    <li data-id="lifebuoy" data-text="Next" data-options="tip_animation:fade; prev_button: false">
        <p>If you have any doubts, press this button to get an explanation of what is needed in each field.</p>
    </li>
    <li data-id="request_custom_integration_button" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tip_animation:fade;">
        <h4>Request Custom Integration</h4>
        <p>If you need help building an Integration, ask us for a quote.</p>
    </li>
    <li data-id="dashboard_header" data-button="Next" data-prev-text="Prev" data-options="tip_location:bottom;tip_animation:fade">
        <h4>Dashboard</h4>
        <p>Here is a quick preview of all the Integration, Inputs and Outputs currently setup.</p>
    </li>
    <li data-id="stream_header" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
        <h4>Stream</h4>
        <p>Here you can see the latest events from all your integrations!</p>
    </li>
    <li data-button="End" data-prev-text="Prev">
        <h4>More info</h4>
        <p>If you need any additional information, check the our <%= link_to 'how to', {:controller => '/how'}, :class => 'icon-how' %> videos or the <%= link_to 'full documentation', {:controller => '/docs'}, :class => 'icon-docs' %>.</p>
    </li>
</ol>
<% content_for :javascript_includes do %>
<script>
$(document).ready(function() {
if (!$.cookie('ariip_dashboard')) {
$(document).foundation({
joyride: {
template: {
button: '<a href="#" class="small button joyride-next-tip info radius"></a>',
prev_button: '<a href="#" class="small button joyride-prev-tip info radius"></a>'
}
}
}).foundation('joyride', 'start');
$.cookie('ariip_dashboard', 'ridden', {
expires: 365
});
}
});
</script>
<% end %>