<% unless selected == 'online2rest' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-browser gigantic dark_red"></i><i class="icon-small-right gigantic dark_red"></i><i class="icon-cog gigantic dark_red"></i>
    <h5 class="subheader">Online form to REST service</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'online2rest'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<% unless selected == 'ticket2email' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-ticket gigantic dark_red"></i><i class="icon-small-right gigantic dark_red"></i><i class="icon-mail gigantic dark_red"></i>
    <h5 class="subheader">Local ticketing to Email</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'ticket2email'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<% unless selected == 'github2database' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-github gigantic dark_red"></i><i class="icon-small-right gigantic dark_red"></i><i class="icon-database gigantic dark_red"></i>
    <h5 class="subheader">GitHub issues to Database</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'github2database'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<% unless selected == 'twitter2file' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-twitter gigantic dark_red"></i><i class="icon-small-right gigantic dark_red"></i><i class="icon-files gigantic dark_red"></i>
    <h5 class="subheader">Twitter mentions to local File</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'twitter2file'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<% unless selected == 'customerorders' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-customerorders gigantic dark_red"></i>
    <h5 class="subheader">Look up customer orders</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'customerorders'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<% unless selected == 'frauddetection' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-frauddetection gigantic dark_red"></i>
    <h5 class="subheader">Bank transactions fraud detection</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'frauddetection'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<% unless selected == 'datawarehousing' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-datawarehousing gigantic dark_red"></i>
    <h5 class="subheader">BI and Data Warehousing</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'datawarehousing'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<% unless selected == 'operationaldatastores' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-operationaldatastores gigantic dark_red"></i>
    <h5 class="subheader">Building Operational Data Stores</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'operationaldatastores'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<% unless selected == 'dashboards' %>
<div class="small-12 medium-6 large-6 columns text-center use_case left" data-equalizer>
    <i class="icon-dashboards gigantic dark_red"></i>
    <h5 class="subheader">Business Dashboards</h5>
    <%= link_to 'More', {:controller => '/use_cases', :action => 'dashboards'}, :class => 'small button info radius icon-more' %>
</div>
<% end %>
<!--
<div class="small-2 medium-1 large-1 columns text_center use_case left" data-equalizer>
    <i class="icon-threedots gigantic dark_grey text-center"></i>
</div>-->
<div class="small-12 medium-6 large-6 columns text-center use_case left text-left" data-equalizer>
    <i class="icon-infinity gigantic dark_red"></i>
    <h5 class="subheader">Integrate Everything</h5>
</div>
<div class="small-12 columns">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns text-center centered-text use_case"  data-equalizer>
            <i class="icon-star gigantic dark_grey"></i>
            <h5 class="subheader">Have a specific scenario?</h5>
            <a class="small button icon-star radius success" data-reveal-id="request_integration">Show us your scenario</a>
        </div>
    </div>
</div>