<div class="row">
  <div class="small-2 medium-1 large-1 columns left">
    <div class="switch small radius">
      <input class="output_toggle" data-id="<%= template.id %>" id="output_switch_<%= template.id %>" type="checkbox" <%= (template.status == 100) ? 'checked' : '' %> name="switch_output_<%= template.id %>">
      <label for="output_switch_<%= template.id %>"></label>
    </div>
  </div>
  <div class="small-12 medium-8 large-8 columns">
    <span class="label secondary radius icon-updated">Updated <%= time_ago_in_words(template.updated_at) %> ago</span>
    <span class="label secondary radius icon-delivery">Last delivery <%= template.last_execute_at.nil? ? 'not executed' : time_ago_in_words(template.last_execute_at) +' ago' %></span>
  </div>
  <div class="small-10 medium-3 large-3 columns right text-right">
    <span class="has-tip tip-top radius" data-tooltip title="Edit <%= template.title %>"><%= link_to 'Edit', edit_output_path(template), :class => "icon-edit small button radius secondary", :title => "Edit #{template.title}" %></span>
  </div>
</div>
<br />
<div class="row">
  <div class="small-2 columns">
    <div class="agent-info info-secondary">
      <div class="big center">
        <span class="has-tip tip-top radius" data-tooltip title="Events: ARiiP delivered this template <%= template.count %> times"><%= template.count %></span>
      </div>
      <h5 class="center icon-events xl-icon"></h5>
    </div>
    <div class="agent-info info-secondary">
      <div class="big center">
        <span class="has-tip tip-top radius" data-tooltip title="Delivery: this template delivers '<%= template.endpoint %>' output"><%= template.endpoint %></span>
      </div>
      <h5 class="center icon-endpoint xl-icon"></h5>
    </div>
  </div>
  <div class="small-10 columns">
    <div class="row">
      <h4 class="subheader">Description</h4>
      <%= template.help %>
    </div>
    <hr>
    <div class="row">
      <h4 class="subheader">Endpoint</h4>
      <% if template.endpoint == 'sql' then %>
      <%= render partial: "templates/show_sql", locals: {:template => template}%>
      <% end %>
      <% if template.endpoint == 'file' then %>
      <%= render partial: "templates/show_file", locals: {:template => template}%>
      <% end %>
      <% if template.endpoint == 'url' then %>
      <%= render partial: "templates/show_url", locals: {:template => template}%>
      <% end %>
      <% if template.endpoint == 'mail' then %>
      <%= render partial: "templates/show_mail", locals: {:template => template}%>
      <% end %>
      <% if template.endpoint == 'dropbox' then %>
      <%= render partial: "templates/show_dropbox", locals: {:template => template}%>
      <% end %>
    </div>
  </div>
</div>