<% content_for :title, "Outputs - #{ENV["APP_TITLE"]}" %>
<% unless flash[:notice].nil? then %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %> <a href="#" class="close">&times;</a>
</div>
<% end %>
<div class="small-12 columns">
  <div class="row">
    <div class="small-6 columns left">
      <h3 class="subheader" id="outputs_header">Outputs</h3>
    </div>
    <div class="small-6 columns right">
      <ul class="inline-list right">
        <li><a href="#" id="what_output" class="button small radius warning icon-help">What is this?</a></li>
        <li><%= link_to 'Create output'.html_safe, new_output_path, :id => 'create_output_button' , :class => 'icon-create small button radius right info' %></li>
      </ul>
    </div>
  </div>
  <% @templates.each do |template| %>
  <div id="output_details_<%= template.id %>" class="row agent-info <%= (template.status == 100) ? 'info-enabled' : 'info-disabled'  %>">
    <div class="small-12 medium-1 large-1 columns">
      <div class="switch small success radius">
        <input class="output_toggle" data-id="<%= template.id %>" id="output_switch_<%= template.id %>" type="checkbox" <%= (template.status == 100) ? 'checked' : '' %> name="switch_output_<%= template.id %>">
        <label for="output_switch_<%= template.id %>"></label>
      </div>
    </div>
    <div class="small-12 medium-8 large-8 columns">
      <h6 class="subheader"><%= link_to template.title, output_path(template), :class => '' %></h6>
    </div>
    <div class="small-12 medium-1 large-1 columns">
      <span class="label right radius secondary output_details_toggle" data-id="<%= template.id %>"><i class="icon-tag"></i></span>
    </div>
    <div class="small-12 medium-2 large-2 columns right">
      <ul class="button-group radius right">
        <li><%= link_to 'View', output_path(template), :class => ' small button secondary icon-view' %></li>
        <li><%= link_to 'Edit', edit_output_path(template), :class => 'small button secondary icon-edit' %></li>
      </ul>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row output_details" id="details_output_<%= template.id %>" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-events"><%= template.count %> Events</span></li>
            <li><span class="label secondary radius icon-updated"><%= template.last_execute_at.nil? ? 'Not executed' : time_ago_in_words(template.last_execute_at) + ' ago' %></span></li>
            <li><span class="label secondary radius icon-endpooint"><%= template.publisher %></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <hr>
  <h5 class="subheader" id="output_samples">Add sample output</h5>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-8 large-8 columns">
      <div class="info-details">
        <h6 class="subheader">SQL Output</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary output_details_toggle" data-id="sample1"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-2 large-2 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample SQL output"><%= link_to 'Add', {:controller => 'templates', :action => 'add', :identifier => 'sql'}, :class => 'icon-add radius small button info',:title => 'Add sample SQL output' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row output_details" id="details_output_sample1" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-endpoint">sql</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-8 large-8 columns">
      <div class="info-details">
        <h6 class="subheader">URL Output</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary output_details_toggle" data-id="sample1"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-2 large-2 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample URL output"><%= link_to 'Add', {:controller => 'templates', :action => 'add', :identifier => 'url'}, :class => 'icon-add radius small button info',:title => 'Add sample SQL output' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row output_details" id="details_output_sample1" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-endpoint">url</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-8 large-8 columns">
      <div class="info-details">
        <h6 class="subheader">File Output</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary output_details_toggle" data-id="sample1"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-2 large-2 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample SQL output"><%= link_to 'Add', {:controller => 'templates', :action => 'add', :identifier => 'file'}, :class => 'icon-add radius small button info',:title => 'Add sample File output' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row output_details" id="details_output_sample1" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-endpoint">file</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-8 large-8 columns">
      <div class="info-details">
        <h6 class="subheader">Mail Output</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary output_details_toggle" data-id="sample1"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-2 large-2 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample Mail output"><%= link_to 'Add', {:controller => 'templates', :action => 'add', :identifier => 'mail'}, :class => 'icon-add radius small button info',:title => 'Add sample Mail output' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row output_details" id="details_output_sample1" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-endpoint">mail</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- joyride tour -->
  <ol class="joyride-list" data-joyride>
    <li data-id="what_output" data-text="Next" data-options="tip_location: top; prev_button: false;tip_animation:fade">
      <p>This is your outputs workspace.</p>
    </li>
    <li data-id="outputs_header" data-class="custom " data-text="Next" data-prev-text="Prev" data-options="tip_animation:fade; tip_location: bottom;">
      <h4>Outputs list.</h4>
      <p>This list includes all your outputs, where you can check the output details.</p>
    </li>
    <li data-id="create_output_button" data-class="custom " data-text="Next" data-prev-text="Prev" data-options="tip_animation:fade">
      <h4>Create output.</h4>
      <p>Click here to launch the new output wizard.</p>
    </li>
    <li data-id="output_samples" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
      <h4>Samples list.</h4>
      <p>If you're in a hurry, start by adding a sample output from this list!</p>
    </li>
    <li data-button="End" data-prev-text="Prev">
      <h4>More questions?</h4>
      <p>Check the full documentation, the demo videos or our <%= link_to 'sample use cases', {:controller => '/use_cases'} %>!</p>
    </li>
  </ol>