<div class="row centered-text content animated fadeIn">
  <div class="small-6 medium-3 large-3 columns center centered-text">
    <%= image_tag 'logo@3x.png'%>
    <h1>ARiiP</h1>
  </div>
  <div class="small-12 columns centered-text">
    <h3>Automated Real-time Integration &amp; Interoperability Platform</h3>
    <h5 class="subheader">
    <strong>ARiiP</strong>
    brings the power of automated real-time data integration to everyone. Quickly create new integrations connecting your data and services to anything. <strong>ARiiP</strong> is the fastest and easiest way for developers to integrate any input source with any endpoint you wish - be it local or cloud based - without complexing coding.
    </h5>
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <%= link_to 'Learn how ARiiP works', {:controller => '/how', :action => 'index'}, :class => 'button large expand radius info icon-how' %>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <%= link_to('Start using ARiiP',new_user_session_path,:class => 'button success large expand radius icon-start') %>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row centered-text">
  <h2 class="subheader">Why ARiiP?</h2>
  <div class="small-12 medium-6 large-6 columns">
    <i class="icon-easy gigantic dark_red"></i>
    <h5>Easy to setup and manage</h5>
    <p class="small-text">Create automated integration pipelines. No more scripting and manually launching tasks: with
    <strong>ARiiP</strong>, the platform does the work for you. <%= link_to '', {:controller => 'features', :action => 'index', :anchor => 'automation'}, :class => ' icon-more primary' %></p>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <i class="icon-localcloud gigantic dark_red"></i>
    <h5>Combine local and cloud integrations</h5>
    <p class="small-text">No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with
      <strong>ARiiP</strong>
    the integration is continuous and in (near) real time. <%= link_to '', {:controller => 'features', :action => 'index', :anchor => 'automation'}, :class => ' icon-more primary' %></p>
  </div>
</div>
<div class="row centered-text">
  <div class="small-12 medium-6 large-6 columns">
    <i class="icon-many2many gigantic dark_red"></i>
    <h5>Many to many integrations</h5>
    <p class="small-text">Create automated integration pipelines. No more scripting and manually launching tasks: with
    <strong>ARiiP</strong>, the platform does the work for you. <%= link_to '', {:controller => 'features', :action => 'index', :anchor => 'automation'}, :class => ' icon-more primary' %></p>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <i class="icon-lock gigantic dark_red"></i>
    <h5>On premises version</h5>
    <p class="small-text">No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with
      <strong>ARiiP</strong>
    the integration is continuous and in (near) real time. <%= link_to '', {:controller => 'features', :action => 'index', :anchor => 'automation'}, :class => ' icon-more primary' %></p>
  </div>
</div>
<!-- access modal content -->
<div id="request_access" class="reveal-modal" data-reveal>
  <h2>Request Access</h2>
  <div id="request_access_message">
    <%= render(:partial => 'alphas/form') %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>