<div class="row centered-text content animated fadeIn">
  <div class="small-6 medium-2 large-2 columns center centered-text">
    <%= image_tag 'logo@3x.png'%>
    <h1>ARiiP</h1>
  </div>
  <div class="small-12 columns centered-text">
    <h3>Automated Real-time Integration &amp; Interoperability Platform</h3>
    <h5 class="subheader">
    <strong>ARiiP</strong>
    brings the power of automated real-time data integration to everyone. Quickly create new integrations connecting your data and services to anything. <strong>ARiiP</strong> is the fastest and easiest way for developers to integrate any input source with any endpoint you wish - be it local or cloud based - without complexing coding.
    </h5>
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <%= link_to 'Learn how ARiiP works', {:controller => '/how', :action => 'index'}, :class => 'button large expand radius warning icon-how' %>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <a href="" class="button info large expand radius icon-start" data-reveal-id="request_access">Start using ARiiP</a>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row centered-text">
  <h2 class="subheader">Why ARiiP?</h2>
  <div class="small-12 medium-6 large-6 columns">
    <i class="icon-easy gigantic dark_red"></i>
    <h5>Easy to setup and manage</h5>
    <p class="small-text">Create automated integration pipelines. No more scripting and manually launching tasks: with
    <strong>ARiiP</strong>, the platform does the work for you.</p>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <i class="icon-localcloud gigantic dark_red"></i>
    <h5>Combine local and cloud integrations</h5>
    <p class="small-text">No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with
      <strong>ARiiP</strong>
    the integration is continuous and in (near) real time. </p>
  </div>
</div>
<div class="row centered-text">
  <div class="small-12 medium-6 large-6 columns">
    <i class="icon-many2many gigantic dark_red"></i>
    <h5>Many to many integrations</h5>
    <p class="small-text">Create automated integration pipelines. No more scripting and manually launching tasks: with
    <strong>ARiiP</strong>, the platform does the work for you.</p>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <i class="icon-lock gigantic dark_red"></i>
    <h5>On premises version</h5>
    <p class="small-text">No more integration snapshots. Where traditional data integration strategies create a unique version of aggregated data, with
      <strong>ARiiP</strong>
    the integration is continuous and in (near) real time. </p>
  </div>
</div>
<!-- Footer -->
<div class="full-width home_footer" id="home_footer">
  <div class="row "  style="">
    <div class="small-12 medium-4 large-4 columns center">
      <br />
      <i class="icon-ariip gigantic white"></i>
      <br />
      <p><small>&copy; Copyright 2015 <a href="http://ariip.com" title="ARiiP">http://ariip.com</a></small></p>
    </div>
    <div class="small-6 medium-4 large-4 columns">
      <h5 class="subheader">Links</h5>
      <ul class="no-bullet">
        <li class="icon-pricing"><%= link_to 'Pricing', {:controller => '/pricing', :action => 'index'}, :class => '' %></li>
        <li class="icon-features"><%= link_to 'Features', {:controller => '/features', :action => 'index'}, :class => '' %></li>
        <li class="icon-how"><%= link_to 'How it works', {:controller => '/how', :action => 'index'}, :class => '' %></li>
        <li class="icon-usecases"><%= link_to 'Use cases', {:controller => '/how', :action => 'index'}, :class => '' %></li>
      </ul>
    </div>
    <div class="small-6 medium-4 large-4 columns right">
      <h5 class="subheader">Follow us</h5>
      <ul class="no-bullet">
        <li class="icon-twitter"><a href="#" >Twitter</a></li>
        <li class="icon-facebook"><a href="#">Facebook</a></li>
        <li class="icon-mail"><%= link_to 'Contact', {:controller => '/contact', :action => 'index'}, :class => '' %></li>
      </ul>
    </div>
  </div>
</div>