<% unless flash[:notice].nil? then %>
<% content_for :title, "Events - #{ENV["APP_TITLE"]}" %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %>
  <a href="#" class="close">&times;</a>
</div>
<% else %>
<% content_for :title, "Events for #{@agent.title} - #{params[:page]} - #{ENV["APP_TITLE"]}" %>
<div class="row">
  <div class="small-6 columns left">
    <h3 class="subheader"><%= @events.count %> Events for <%= link_to @agent.title, @agent %></h3>
  </div>
  <div class="small-6 columns right">
  </div>
</div>
<%= render :partial => "events/filters"%>
<br/>
<%= render :partial => "events/events", locals: {:events => @events} %>
<div class="small-12 medium-12 large-12 columns">
  <div class="row">
    <div class="small-12 pagination-centered">
      <%= paginate @events %>
    </div>
  </div>
</div>
<% end %>
<% content_for :custom_js do %>
<script type="text/javascript">
$(document).ready(function() {
    var res = window.location.href.split('/');
    $('#inputs_filter').val(res[res.length - 1]);
});
</script>
<% end %>