<% unless flash[:notice].nil? then %>
<% content_for :title, "Events - #{ENV["APP_TITLE"]}" %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %>
  <a href="#" class="close">&times;</a>
</div>
<% else %>
<% content_for :title, "Events for #{@integration.title} - #{params[:page]} - #{ENV["APP_TITLE"]}" %>
<div class="row">
  <div class="small-6 columns left">
    <h3 class="subheader"><%= @events.count %> Events for <%= link_to @integration.title, @integration %></h3>
  </div>
  <div class="small-6 columns right">
  </div>
</div>
<%= render :partial => "events/filters"%>
<%= render :partial => "events/events", locals: {:events => @events} %>
<% end %>