<% content_for :title, "Event for #{@event.agent.title} - #{ENV["APP_TITLE"]}" %>
<div class="row">
	<div class="small-12 columns">
		<h3 class="subheader">Event <strong><%= @event.id %></strong> for <%= link_to "<strong>#{@event.agent.title}</strong>".html_safe, @event.agent %></h3>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<span class="label secondary radius icon-updated">Created <%= time_ago_in_words(@event.created_at) %> ago</span>
	</div>
</div>
<br />
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<% @event.payload.each do |k,v| %>
		<div class="row">
			<div class="small-12 medium-2 large-2 columns">
				<h6 class="right inline"><strong><%= k %></strong></h6>
			</div>
			<div class="small-12 medium-10 large-10 columns">
				<%= v %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-2 large-2 columns right">
		<%= link_to 'Remove', @event, :class => 'remove right icon-delete', method: :delete, data: { confirm: "Are you sure you want to remove this event?" } %>
	</div>
</div>