<%= form_for(@agent, :remote => true) do |f| %>
<% if @agent.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this input from being saved:</h2>
  <ul>
    <% @agent.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :title, :class => 'right inline' %>
  </div>
  <div class="small-9 columns">
    <i class="label info lifebuoy">Set the input title.</i>
    <%= f.text_field :title, :tabindex => autotab, :autofocus => true %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label 'description', :class => 'right inline' %>
  </div>
  <div class="small-9 columns">
    <i class="label info lifebuoy">Provide a general input description.</i>
    <%= f.text_area :help, :tabindex => autotab %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :schedule, :class => 'right inline' %>
  </div>
  <div class="small-9 columns">
    <i class="label info lifebuoy">Select the monitoring schedule for your data source (how frequently we check for new content).</i>
    <%= f.select :schedule, options_from_collection_for_select(@schedules, :first, :last, {:selected => @agent.schedule}),{},{:tabindex => autotab} %>
  </div>
</div>
<!-- Publisher processing -->
<hr>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :publisher, :class => 'right inline' %>
  </div>
  <div class="small-9 columns">
    <i class="label info lifebuoy">Select the input data publisher type.</i>
    <%= f.select :publisher, options_for_select([['SQL', 'sql'], ['CSV', 'csv'],['Excel', 'excel'], ['XML','xml'], ['JSON','json']], {:selected => @agent.publisher}), {}, {:tabindex => autotab} %>
  </div>
</div>
<div id="publisher_content">
  <%= render(:partial => "agents/publisher_#{@agent.publisher}") %>
</div>
<div class="row">
  <div class="small-12 medium-2 large-2 columns right">
    <ul class="button-group radius right">
      <li><%= link_to 'Back', :back, :class => 'small button secondary icon-back' %></li>
      <li><%= link_to 'Save', '#', :class => 'small button success edit_save_agent icon-save',:tabindex => autotab, :id => 'save_agent'  %></li>
    </ul>
  </div>
</div>
<% end %>
<br />
<div class="row">
  <div class="small-12 medium-10 large-10 columns right text-right">
    <%= link_to 'Remove', @agent, :tabindex => autotab, :class => 'remove right icon-delete', method: :delete, data: { confirm: "Are you sure you want to remove the #{@agent.title} input?" } %>
  </div>
</div>