<% content_for :title, "Inputs - #{ENV["APP_TITLE"]}" %>
<% unless flash[:notice].nil? then %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %>
  <a href="#" class="close">&times;</a>
</div>
<% end %>
<div class="small-12 medium-12 large-12 columns">
  <div class="row">
    <div class="small-6 columns left">
      <h3 class="subheader">Inputs</h3>
    </div>
    <div class="small-6 columns">
      <ul class="inline-list right">
        <li><a href="#" id="what_input" class="button small radius warning icon-help">What is this?</a></li>
        <li><%= link_to 'Create input'.html_safe, new_agent_path, :class => 'icon-create small button radius primary' %></li>
      </ul>
    </div>
  </div>
  <% @agents.each do |agent| %>
  <div id="input_details_<%= agent.id %>" class="row agent-info <%= (agent.status == 100) ? 'info-enabled' : 'info-disabled'  %>">
    <div class="small-12 medium-1 large-1 columns">
      <div class="switch small success radius">
        <input class="input_toggle" data-id="<%= agent.id %>" id="input_switch_<%= agent.id %>" type="checkbox" <%= (agent.status == 100) ? 'checked' : '' %> name="switch_input_<%= agent.id %>">
        <label for="input_switch_<%= agent.id %>"></label>
      </div>
    </div>
    <div class="small-12 medium-7 large-7 columns">
      <h6 class="subheader"><%= link_to agent.title, input_path(agent), :class => '' %></h6>
    </div>
    <div class="small-12 medium-1 large-1 columns">
      <span class="label right radius secondary input_details_toggle" data-id="<%= agent.id %>"><i class="icon-tag"></i></span>
    </div>
    <div class="small-12 medium-3 large-3 columns right">
      <ul class="button-group radius right">
        <li><%= link_to 'Execute', {:controller => 'agents', :action => 'execute', :id => agent.id}, :class => 'small button success icon-execute',:title => "Execute #{agent.title}" %></li>
        <li><%= link_to 'Edit', edit_input_path(agent), :class => 'small button info icon-edit' %></li>
        <li><%= link_to 'View', input_path(agent), :class => ' small button info icon-view' %></li>
      </ul>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row input_details" id="details_input_<%= agent.id %>" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-events"><%= agent.events.size %> Events</span></li>
            <li><span class="label secondary radius icon-updated"><%= time_ago_in_words(agent.last_check_at) %> ago</span></li>
            <li><span class="label secondary radius icon-publisher"><%= agent.publisher %></span></li>
            <li><span class="label secondary radius icon-schedule"><%= agent.schedule %></span></li>
            <%= (agent.seeds.size != 0) ? "<li><span class=\"label radius icon-seed\">#{pluralize(agent.seeds.size, 'seed')}</span></li>".html_safe : '' %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <hr>
  <h5 class="subheader">Add sample input</h5>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-7 large-7 columns">
      <div class="info-details">
        <h6 class="subheader">SQL Input</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary input_details_toggle" data-id="sample1"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-3 large-3 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample SQL input"><%= link_to 'Add', {:controller => 'agents', :action => 'add', :identifier => 'sql'}, :class => 'icon-add radius small button primary',:title => 'Add sample SQL input' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row input_details" id="details_input_sample1" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-publisher">sql</span></li>
            <li><span class="label secondary radius icon-schedule">1d</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-7 large-7 columns">
      <div class="info-details">
        <h6 class="subheader">XML Input</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary input_details_toggle" data-id="sample2"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-3 large-3 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample XML inpu"><%= link_to 'Add', {:controller => 'agents', :action => 'add', :identifier => 'xml'}, :class => 'icon-add radius small button primary',:title => 'Add sample XML input' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row input_details" id="details_input_sample2" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-publisher">xml</span></li>
            <li><span class="label secondary radius icon-schedule">1h</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-7 large-7 columns">
      <div class="info-details">
        <h6 class="subheader">JSON Input</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary input_details_toggle" data-id="sample3"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-3 large-3 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample JSON Input"><%= link_to 'Add', {:controller => 'agents', :action => 'add', :identifier => 'json'}, :class => 'icon-add radius small button primary',:title => 'Add sample JSON Input' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row input_details" id="details_input_sample3" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-publisher">json</span></li>
            <li><span class="label secondary radius icon-schedule">1h</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-7 large-7 columns">
      <div class="info-details">
        <h6 class="subheader">CSV Input</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary input_details_toggle" data-id="sample4"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-3 large-3 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample CSV Input"><%= link_to 'Add', {:controller => 'agents', :action => 'add', :identifier => 'csv'}, :class => 'icon-add radius small button primary',:title => 'Add sample CSV Input' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row input_details" id="details_input_sample4" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-publisher">csv</span></li>
            <li><span class="label secondary radius icon-schedule">1d</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row agent-info info-secondary">
    <div class="small-1 medium-1 large-1 columns left">
      &nbsp;
    </div>
    <div class="small-11 medium-7 large-7 columns">
      <div class="info-details">
        <h6 class="subheader">RSS Input</h6>
      </div>
    </div>
    <div class="small-1 medium-1 large-1 columns">
      <span class="label right radius secondary input_details_toggle" data-id="sample5"><i class="icon-tag"></i></span>
    </div>
    <div class="small-11 medium-3 large-3 columns right">
      <span class="has-tip tip-top radius right" data-tooltip title="Add sample RSS Input"><%= link_to 'Add', {:controller => 'agents', :action => 'add', :identifier => 'rss'}, :class => 'icon-add radius small button primary',:title => 'Add sample RSS Input' %></span>
    </div>
    <!-- details -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row input_details" id="details_input_sample5" >
        <div class="small-2 medium-1 large-1 columns ">
          &nbsp;
        </div>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <ul class="no-bullet left">
            <li><span class="label secondary radius icon-publisher">xml</span></li>
            <li><span class="label secondary radius icon-schedule">1d</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>