<%= form_for(@feedback, :remote => true, :data => {:abide => ''}) do |f| %>
<% if @feedback.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
  <ul>
    <% @feedback.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :name, :class => 'right inline' %>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :name, :required => true, :pattern => '[a-zA-Z]+' %>
        <small class="error">Name is required and must be a string.</small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :email, :class => 'right inline' %>
      </div>
      <div class="small-10 columns">
        <%= f.email_field :email, :required => true %>
        <small class="error">A valid email address is required.</small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :subject, :class => 'right inline' %>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :subject %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-2 columns">
        <%= f.label :message, :class => 'right inline' %>
      </div>
      <div class="small-10 columns">
        <%= f.text_area :message, :required => true %>
        <small class="error">Weren't you going to tell us something?</small>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns right">
    <%= f.hidden_field :origin, :value => "#{controller.controller_name}:#{controller.action_name}" %>
    <%= f.submit 'Give Feedback', :class => 'button right success radius icon-mail' %>
  </div>
</div>
<% end %>