<div class="row">
  <div class="small-12 columns">
    <h1>Listing feedbacks</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Detail</th>
          <th>Message</th>
          <th>Origin</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.name %></td>
          <td><%= feedback.email %></td>
          <td><%= feedback.subject %></td>
          <td><%= feedback.details %></td>
          <td><%= feedback.message %></td>
          <td><%= feedback.origin %></td>
          <td><%= feedback.created_at %></td>
          <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>