<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @f.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @f.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @f.subject %>
</p>
<p>
  <strong>Details:</strong>
  <%= @f.details %>
</p>
<p>
  <strong>Message:</strong>
  <%= @f.message %>
</p>
<p>
  <strong>Origin:</strong>
  <%= @f.origin %>
</p>
<p>
  <strong>Date:</strong>
  <%= @f.created_at %>
</p>
