<div class="row">
  <div class="small-2 medium-1 large-1 columns left">
    <div class="switch small radius">
      <input class="integration_toggle" data-id="<%= integration.id %>" id="integration_switch_<%= integration.id %>" type="checkbox" <%= (integration.status == 100) ? 'checked' : '' %> name="switch_integration_<%= integration.id %>">
      <label for="integration_switch_<%= integration.id %>"></label>
    </div>
  </div>
  <div class="small-12 medium-8 large-8 columns">
    <span class="label secondary radius icon-updated">Updated <%= time_ago_in_words(integration.updated_at) %> ago</span>
  </div>
  <div class="small-10 medium-3 large-3 columns right text-right">
    <ul class="button-group radius right">
      <li><%= link_to 'Execute', {:controller => 'integrations', :action => 'execute', :id => integration.id}, :class => 'small button success icon-execute',:title => "Execute #{integration.title}" %></li>
      <li><%= link_to 'Edit', edit_integration_path(integration), :class => 'small button info icon-edit' %></li>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="small-12 columns">
    <%= integration.help %>
  </div>
</div>
<br />
<!-- Inputs -->
<div class="row">
  <div class="small-12 medium-2 large-2 columns">
    <h4><%= pluralize(integration.agents.size, 'Input') %></h4>
  </div>
  <div class="small-12 medium-10 large-10 columns">
    <% integration.agents.each do |agent| %>
    <%= link_to "<h3 class=\"subheader\">#{agent.title}</h3>".html_safe, agent %>
    <%=  render :partial => "agents/show", locals: {:agent => agent} %>
    <% end %>
  </div>
</div>
<br />
<!-- Outputs -->
<div class="row">
  <div class="small-12 medium-2 large-2 columns">
    <h4><%= pluralize(integration.templates.size, 'Output') %></h4>
  </div>
  <div class="small-12 medium-10 large-10 columns">
    <% integration.templates.each do |template| %>
    <%= link_to "<h3 class=\"subheader\">#{template.title}</h3>".html_safe, template %>
    <%= render :partial => "templates/show", locals: {:template => template} %>
    <% end %>
  </div>
</div>