<% content_for :title, "Integrations - #{ENV["APP_TITLE"]}" %>
<!-- main content -->
<% unless flash[:notice].nil? then %>
<div data-alert class="alert-box warning radius">
  <%= flash[:notice].html_safe %>
  <a href="#" class="close">&times;</a>
</div>
<% end %>
<div class="small-12 medium-12 large-12 columns">
  <div class="row">
    <div class="small-6 columns left">
      <h3 class="subheader" id="integrations_header">Integrations</h3>
    </div>
    <div class="small-6 columns right">
      <ul class="inline-list right">
        <li><a href="#" id="what_integration" class="button small radius warning icon-help">What is this?</a></li>
        <li><%= link_to 'Create integration'.html_safe, new_integration_path, :id => 'create_integration_button', :class => 'icon-create small button radius right info' %></li>
      </ul>
    </div>
  </div>
  <% if @integrations.empty? %>
  <div class="row">
    <div class="small-12 columns">
      <p><strong>Integrations</strong> control your integration flow, connecting intelligent <%= link_to 'inputs'.html_safe, {:controller => '/agents'}, :class => ''%> with <%= link_to 'outputs', {:controller => '/templates'}, :class => '' %>.</p>
      <% if current_user.agents.empty? %>
      <h5 class="subheader">Start by creating a <%= link_to 'new input', new_agent_path, :title => 'Create new input', :class => '', :data => { :tooltip => ''} %></h5>
      <% else %>
      <% if current_user.templates.empty? %>
      <h5 class="subheader">You have inputs, now add a <%= link_to 'new output', new_template_path, :class => '' %></h5>
      <% else %>
      <h5 class="subheader">Your inputs and outputs are ready, create a <%= link_to 'new integration'.html_safe, new_integration_path, :class => '' %></h5>
      <% end %>
      <% end %>
    </div>
  </div>
  <% else %>

  <% @integrations.each do |integration| %>
  <div id="integration_details_<%= integration.id %>" class="row agent-info <%= (integration.status != 400) ? 'info-enabled' : 'info-disabled'  %>">
    <div class="small-12 medium-1 large-1 columns">
      <div class="switch small success radius">
        <input class="integration_toggle" data-id="<%= integration.id %>" id="integration_switch_<%= integration.id %>" type="checkbox" <%= (integration.status == 100) ? 'checked' : '' %> name="switch_integration_<%= integration.id %>">
        <label for="integration_switch_<%= integration.id %>"></label>
      </div>
    </div>
    <div class="small-12 medium-7 large-7 columns">
      <h6 class="subheader"><%= link_to integration.title, integration, :class => '' %></h6>
    </div>
    <div class="small-12 medium-1 large-1 columns">
      <% if integration.agents.count > 0 || integration.templates.count > 0 %>
      <span class="label radius secondary right integration_details_toggle" data-id="<%= integration.id %>"><%= integration.agents.count %><i class="icon-integration"></i><%= integration.templates.count %></span>
      <% end %>
    </div>
    <div class="small-12 medium-3 large-3 columns right">
      <ul class="button-group radius right">
        <li><%= link_to 'View', integration, :class => ' small button secondary icon-view' %></li>
        <li><%= link_to 'Edit', edit_integration_path(integration), :class => 'small button secondary icon-edit' %></li>
        <li><%= link_to 'Execute', {:controller => 'integrations', :action => 'execute', :id => integration.id}, :class => 'small button primary icon-execute',:title => "Execute #{integration.title}" %></li>
      </ul>
    </div>
    <!-- Inputs & Outputs -->
    <div class="small-12 medium-12 large-12 columns">
      <div class="row integration_details" id="details_integration_<%= integration.id %>" >
        <div class="small-2 medium-1 large-1 columns">
          &nbsp;
        </div>
        <% if integration.agents.count > 0 %>
        <div class="small-2 medium-1 large-1 columns icon-input">
        </div>
        <div class="small-10 medium-5 large-5 columns left">
          <ul class="no-bullet left">
            <% integration.agents.each do |agent| %>
            <li>
              <%= link_to agent.title, agent %>
              <span class="label secondary radius icon-publisher"> <%= agent.publisher %></span>
              <span class="label secondary radius icon-schedule"> <%= agent.schedule %></span>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <% if integration.templates.count > 0 %>
        <div class="small-2 medium-1 large-1 columns icon-output">
        </div>
        <div class="small-10 medium-4 large-4 columns left">
          <ul class="no-bullet left">
            <% integration.templates.each do |template| %>
            <li><%= link_to template.title, template %>
              <span class="label secondary radius icon-endpoint"><%= template.publisher %></span></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
    <hr>
    <h5 class="subheader" id="integration_samples">Add sample integration</h5>
    <div class="row agent-info info-secondary">
      <div class="small-12 medium-1 large-1 columns left">
        &nbsp;
      </div>
      <div class="small-12 medium-7 large-7 columns left">
        <h6 class="subheader">SQL to CSV file</h6>
      </div>
      <div class="small-12 medium-1 large-1 columns">
        <span class="label radius secondary integration_details_toggle" data-id="sample1">1<i class="icon-integration"></i>1</span>
      </div>
      <div class="small-12 medium-3 large-3 columns right">
        <ul class="button-group radius right">
          <li><%= link_to 'Add'.html_safe, {:controller => 'integrations', :action => 'add', :agent => 'sql', :template => 'file'}, :class => 'action small button info right icon-add', :title => "Add SQL results to CSV file sample integration" %></li>
        </ul>
      </div>
      <div class="small-12 medium-12 large-12 columns">
        <div class="row integration_details" id="details_integration_sample1" >
          <div class="small-2 medium-1 large-1 columns">
            &nbsp;
          </div>
          <div class="small-2 medium-1 large-1 columns icon-input">
          </div>
          <div class="small-10 medium-5 large-5 columns left">
            <ul class="no-bullet left">
              <li>
                <span class="label  secondary radius icon-publisher">sql</span>
                <span class="label  secondary radius icon-schedule">1d</span>
              </li>
            </ul>
          </div>
          <div class="small-2 medium-1 large-1 columns icon-output">
          </div>
          <div class="small-10 medium-4 large-4 columns left">
            <ul class="no-bullet left">
              <li><span class="label radius secondary radius icon-endpoint">file</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row agent-info info-secondary">
      <div class="small-12 medium-1 large-1 columns left">
        &nbsp;
      </div>
      <div class="small-12 medium-7 large-7 columns left">
        <h6 class="subheader">XML to SQL table</h6>
      </div>
      <div class="small-12 medium-1 large-1 columns">
        <span class="label radius secondary integration_details_toggle" data-id="sample2">1<i class="icon-integration"></i>1</span>
      </div>
      <div class="small-12 medium-3 large-3 columns right">
        <ul class="button-group radius right">
          <li><%= link_to 'Add'.html_safe, {:controller => 'integrations', :action => 'add', :agent => 'xml', :template => 'sql'}, :class => 'action small button info right icon-add', :title => "Add SQL results to CSV file sample integration" %></li>
        </ul>
      </div>
      <div class="small-12 medium-12 large-12 columns">
        <div class="row integration_details" id="details_integration_sample2" >
          <div class="small-2 medium-1 large-1 columns">
            &nbsp;
          </div>
          <div class="small-2 medium-1 large-1 columns icon-input">
          </div>
          <div class="small-10 medium-5 large-5 columns left">
            <ul class="no-bullet left">
              <li>
                <span class="label radius secondary icon-publisher">xml</span>
                <span class="label radius secondary icon-schedule">1h</span>
              </li>
            </ul>
          </div>
          <div class="small-2 medium-1 large-1 columns icon-output">
          </div>
          <div class="small-10 medium-4 large-4 columns left">
            <ul class="no-bullet left">
              <li><span class="label radius secondary radius icon-endpoint">sql</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- joyride tour -->
  <ol class="joyride-list" data-joyride>
    <li data-id="what_integration" data-text="Next" data-options="tip_location: top; prev_button: false;tip_animation:none">
      <p>This is your integrations workspace.</p>
    </li>
    <li data-id="create_integration_button" data-class="custom " data-text="Next" data-prev-text="Prev" data-options="tip_animation:fade">
      <h4>Create integration.</h4>
      <p>Setup a new Integration easily.</p>
    </li>
    <li data-id="integrations_header" data-class="custom " data-text="Next" data-prev-text="Prev" data-options="tip_animation:fade">
      <h4>Integrations list.</h4>
      <p>Here you have all active or paused integrations you made and with shortcuts to View, Edit and immediately Execute that Integration.</p>
    </li>
    <li data-id="integration_samples" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
      <h4>Samples list.</h4>
      <p>Here you can find sample Integrations that you can pick up to setup your integration faster. Just click “Add” and configure it!</p>
    </li>
    <li data-button="End" data-prev-text="Prev">
      <h4>More info?</h4>
      <p>If you need any additional information, check the our <%= link_to 'how to', {:controller => '/how'}, :class => 'icon-how' %> videos or the <%= link_to 'full documentation', {:controller => '/docs'}, :class => 'icon-docs' %>.</p>
    </li>
  </ol>