<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6" lang="en">
  <![endif]-->
  <!--[if IE 7 ]>
  <html class="ie7" lang="en">
    <![endif]-->
    <!--[if IE 8 ]>
    <html class="ie8" lang="en">
      <![endif]-->
      <!--[if (gte IE 9)|!(IE)]><!-->
      <html lang="en"> <!--<![endif]-->
      <head>
        <meta charset="utf-8" />
        <!-- Uncomment to make IE8 render like IE7 -->
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%= favicon_link_tag 'favicon.ico' %>
        <title><%= content_for?(:title) ? yield(:title) : ENV["APP_TITLE"] %></title>
        <%= stylesheet_link_tag    "application" %>
        <%= stylesheet_link_tag    "animate.min" %>
        <%= javascript_include_tag "custom.modernizr" %>
        <%= csrf_meta_tags %>
      </head>
      <% @beta = Betas.new %>
      <body id="home">
        <div class=" fixed" id="home_nav">
          <div class="small-1 columns left text-left">
            <a href="<%= root_url %>" class="icon-ariip dark_red">&nbsp;</a>
          </div>
          <div class="small-7 columns">
            <ul class="inline-list center centered-text" id="home_list ">
              <li><%= link_to 'Features', {:controller => '/features', :action => 'index'}, :class => 'icon-features' %></li>
              <li><%= link_to 'How it works', {:controller => '/how', :action => 'index'}, :class => 'icon-how' %></li>
              <li><%= link_to 'Use cases', {:controller => '/use_cases', :action => 'index'}, :class => 'icon-usecases' %></li>
              <li><%= link_to 'About', {:controller => '/about', :action => 'index'}, :class => 'icon-about' %></li>
              <li><%= link_to 'Contact', {:controller => '/contact', :action => 'index'}, :class => 'icon-mail' %></li>
            </ul>
          </div>
          <div class="small-2 columns">
            <a id="request_beta" class="small button alert radius icon-start expand" data-reveal-id="request_access">Start using ARiiP</a>
          </div>
          <div class="small-2 columns right text-right">
            <%= link_to('Sign in',new_user_session_path,:class => 'small button primary radius icon-user right text-right') %>
          </div>
        </div>
        <!-- navbar end -->
        <!-- Start main content -->
        <div class="row" id="home_content">
          <div class="small-12 columns">
            <%= yield %>
          </div>
        </div>
        <!-- Finish main content -->
        <%= render partial: "helper/requestaccess"  %>
        <%= javascript_include_tag "application" %>
        <%= yield :javascript_includes %>
        <!-- HotJar -->
        <script>
        (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:13226, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="//static.hotjar.com/c/hotjar-13226.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c);
        })(window,document);
        </script>
        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-16246623-9', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- CrazyEgg -->
        <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0029/2065.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>
      </body>
    </html>