<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6" lang="en">
  <![endif]-->
  <!--[if IE 7 ]>
  <html class="ie7" lang="en">
    <![endif]-->
    <!--[if IE 8 ]>
    <html class="ie8" lang="en">
      <![endif]-->
      <!--[if (gte IE 9)|!(IE)]><!-->
      <html lang="en"> <!--<![endif]-->
      <head>
        <title><%= content_for?(:title) ? yield(:title) : "#{ENV['APP_TITLE']} | Integration Platform for Developers" %></title>
        <%= favicon_link_tag 'favicon.ico' %>
        <meta charset="utf-8" />
        <!-- Uncomment to make IE8 render like IE7 -->
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%= content_for?(:meta_keywords) ? yield(:meta_keywords) : '<meta name="keywords" content=“ariip, integration, integration-as-a-service, iaas, ipaas, create integration, cloud integration, local integration” />'.html_safe %>
        <%= content_for?(:meta_description) ? yield(:meta_description) : '<meta name="description" content="ARiiP provides an Integration-as-a-Service platform to allow developers and companies to easily develop and manage their own integrations, be it local or cloud based." />'.html_safe %>
        <%= stylesheet_link_tag    "application" %>
        <%= stylesheet_link_tag    "animate.min" %>
        <%= javascript_include_tag "custom.modernizr" %>
        <%= csrf_meta_tags %>
      </head>
      <% @beta = Betas.new %>
      <body id="home">
        <div class=" fixed" id="home_nav">
          <div class="small-1 columns left text-left">
            <a href="<%= root_url %>" class="icon-ariip dark_red">&nbsp;</a>
          </div>
          <div class="small-7 columns">
            <ul class="inline-list center centered-text" id="home_list ">
              <li><%= link_to 'Features', {:controller => '/features', :action => 'index'}, :class => 'icon-features' %></li>
              <li><%= link_to 'How it works', {:controller => '/how', :action => 'index'}, :class => 'icon-how' %></li>
              <li><%= link_to 'Use cases', {:controller => '/use_cases', :action => 'index'}, :class => 'icon-usecases' %></li>
              <li><%= link_to 'Pricing', {:controller => '/pricing', :action => 'index'}, :class => 'icon-pricing' %></li>
              <li><%= link_to 'About', {:controller => '/about', :action => 'index'}, :class => 'icon-about' %></li>
              <li><%= link_to 'Contact', {:controller => '/contact', :action => 'index'}, :class => 'icon-mail' %></li>
            </ul>
          </div>
          <div class="small-2 columns">
            <a id="request_beta" class="small button info radius icon-start expand" data-reveal-id="request_access">Start using ARiiP</a>
          </div>
          <div class="small-2 columns right text-right">
            <%= user_signed_in? ? link_to("Hi #{(current_user.name ||= current_user.username)}!".html_safe,{:controller => 'dashboard'}, :class => 'small button primary radius icon-dashboard sidebar-icon') : link_to('Sign in',new_user_session_path,:class => 'small button primary radius icon-user right text-right') %>
          </div>
        </div>
        <!-- navbar end -->
        <!-- Start main content -->
        <div class="row animated fadeIn" id="home_content">
          <div class="small-12 columns">
            <%= yield %>
          </div>
          <div id="root_footer"></div>
        </div>
        <!-- Finish main content -->
        <!-- Footer -->
        <div class="full-width home_footer center" id="home_footer">
          <div class="row center"  data-equalizer  style="width: 100%;">
            <div class="small-2 columns center text-center" data-equalizer>
              &nbsp;
            </div>
            <div class="small-8 columns center text-center" data-equalizer>
              <div class="row center text-center" data-equalizer>
                <div class="small-12 medium-4 large-4 columns"  data-equalizer>
                  <h5 class="subheader">Links</h5>
                  <ul class="no-bullet">
                    <li class="icon-features"><%= link_to 'Features', {:controller => '/features', :action => 'index'}, :class => '' %></li>
                    <li class="icon-how"><%= link_to 'How it works', {:controller => '/how', :action => 'index'}, :class => '' %></li>
                    <li class="icon-usecases"><%= link_to 'Use cases', {:controller => '/use_cases', :action => 'index'}, :class => '' %></li>
                    <li class="icon-pricing"><%= link_to 'Pricing', {:controller => '/pricing', :action => 'index'}, :class => '' %></li>
                    <li class="icon-mail"><%= link_to 'Contact', {:controller => '/contact', :action => 'index'}, :class => '' %></li>
                  </ul>
                </div>
                <div class="small-12 medium-4 large-4 columns" data-equalizer>
                  <h5 class="subheader">Follow us</h5>
                  <ul class="no-bullet">
                    <li class="icon-facebook"><a href="https://www.facebook.com/AriipIntegrations" target="_blank">Facebook</a></li>
                    <li class="icon-google"><a href="https://plus.google.com/u/0/117242058272224273467/about" target="_blank">Google+</a></li>
                    <li class="icon-linkedin"><a href="https://www.linkedin.com/company/ariip" target="_blank">LinkedIn</a></li>
                    <li class="icon-twitter"><a href="https://twitter.com/AriipIntegrator" target="_blank" >Twitter</a></li>
                    <li class="icon-youtube"><a href="https://www.youtube.com/channel/UCsfmj7VHcPAdLAbl2P432oQ" target="_blank" >YouTube</a></li>
                  </ul>
                </div>
                <div class="small-12 medium-4 large-4 columns"  data-equalizer>
                  <br />
                  <i class="icon-ariip gigantic white"></i>
                  <br />
                  <p><small>&copy; Copyright 2015 <a href="https://ariip.com" title="ARiiP">https://ariip.com</a></small></p>
                </div>
              </div>
            </div>
            <div class="small-2 columns center text-center" data-equalizer>
              &nbsp;
            </div>
          </div>
        </div>
        <!-- overlay -->
          <div id="overlayed" class="hidden">&nbsp;</div>
        <%= render partial: "helper/requestaccess"  %>
        <!-- Send challenge modal -->
        <%= render "helper/custom_integration", :title => 'Challenge us', :button => 'Send challenge', :message => 'If you have a specific problem to integrate &amp; services and want to understand how <strong>ARiiP</strong> can help you, just challenge us!'.html_safe  %>
        <%= javascript_include_tag "application" %>
        <%= yield :javascript_includes %>
          <!-- Hotjar Tracking Code for ariip.com -->
          <script>
          (function(f, b) {
          var c;
          f.hj = f.hj || function() {
          (f.hj.q = f.hj.q || []).push(arguments)
          };
          f._hjSettings = {
          hjid: 13226,
          hjsv: 3
          };
          c = b.createElement("script");
          c.async = 1;
          c.src = "//static.hotjar.com/c/hotjar-13226.js?sv=3";
          b.getElementsByTagName("head")[0].appendChild(c);
          })(window, document);
          </script>
          <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-16246623-9', 'auto');
          ga('send', 'pageview');
          </script>
      </body>
    </html>