<p id="notice"><%= notice %></p>

<h1>Listing Betas</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Name</th>
      <th>Email</th>
      <th>Job</th>
      <th>Payload</th>
      <th>What</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @betas.each do |beta| %>
      <tr>
        <td><%= beta.origin %></td>
        <td><%= beta.name %></td>
        <td><%= beta.email %></td>
        <td><%= beta.job %></td>
        <td><%= beta.payload %></td>
        <td><%= beta.what %></td>
        <td><%= beta.created_at %></td>
        <td><%= link_to 'Destroy', beta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Betas', new_beta_path %>
